*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}
/* Nassesary Css */
.container{
    max-width: 1440px;
    margin: 0 auto;
}
.title-box {
	text-align: center;
	width: 40%;
	margin: 0 auto;
}
.title-box h2{
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
    color: #272727;
    margin-bottom: 15px;
}
.title-box p{
    color: #27272799;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.d-flex{
    display: flex;
}
.j-s-between{
    justify-content: space-between;
}
.btn {
	background-color: #E55473;
	color: white;
	display: inline-block;
	border: none;
	padding: 15px 30px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: 600;
}
.text-center{
    text-align: center;
}
/* BAnner SEction */
.banner-section{
    background-color: #E554731A;
    padding-top: 50px;
}
.banner-box{
    align-items: center;
    gap: 87px;
}
.banner-content h1{
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
}
.banner-content p {
	color: rgba(39, 39, 39, 0.6);
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin: 20px 0;
}
.banner-image img{
    margin-bottom: -4px;
}
/* Our Featured Flowers section */
.feature-flower-section{
    padding: 80px 0;
}
.flower-boxs {
	margin: 50px 0;
	gap: 3%;
}
.flower-box{
    width: 100%;
}
.flower-image {
	background: #a7216226;
	padding: 80px 30px 0px 30px;
	border-radius: 49% 49% 0 0;
}
.bg-one{
    background-color: #0597A026;
}
.bg-two{
    background-color: #477D1126;
}
.flower-image:nth-last-child {
	background: #fa0d7fe5;
}
.flower-image img {
	margin-bottom: -3px;
}
.flower-box a {
	font-size: 20px;
	color: black;
	margin-top: 20px;
	display: inline-block;
	font-weight: 600;
	text-decoration-thickness: 1px;
}
/* service section delivary */
.delivary-service-section {
	margin-bottom: 90px;
}
.service-boxs {
	background-color: #2727270D;
	justify-content: space-evenly;
	text-align: center;
	padding: 70px 0;
	border-radius: 8px;
}
.service-box p{
    color: rgba(39, 39, 39, 0.8);
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
/* HOt Deal Section */
.banner-section.hot-deal-banner {
	padding: 100px 0;
}
.banner-content .title-box {
	width: 60%;
}
.hot-deal-banner .banner-box {
	justify-content: space-evenly;
}
.banner-content .title-box span {
	color: #e55473;
}
/* instagram section */
.instagram-section{
    padding: 90px 0;
}
.insta-image{
    margin-top: 40px;
}
/* newslater Section */
.news-banner {
	background: url(Rectangle9.png) no-repeat center center;
	background-size: cover;
	padding: 100px 0;
	margin-bottom: 50px;
    border-radius: 8px;
}
.news-banner .title-box{
    width: 80%;
}
.news-banner .title-box form {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}
#email {
	padding: 20px 23px;
	width: 700px;
	border: none;
	border-radius: 8px;
	margin-right: 20px;
}
/*  */